[package]
name = "popper-lang"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

<<<<<<< HEAD

[dependencies]
=======
[dependencies]
>>>>>>> full-rewrite
